.navigation 
    .navigation__wrapper
        .navigation-logo 
            a.navigation-logo__link(href="/")
            | Floema
            
        .navigation-menu 
            svg.navigation-menu__icon 

        ul.navigation-list 
            li.navigation-item 
                a.navigation-item__link(href="/") Home 
            li.navigation-item 
                a.navigation-item__link(href="/collections") Collections 
            li.navigation-item 
                a.navigation-item__link(href="/about") About 
            li.navigation-item 
                a.navigation-item__link(href="/detail") Detail
                