$color-black:#000;
$color-white:#fff;
$color-contessa:#C97164;
$color-quicksand:#BC978C;

$font-george-x:'George X';
$font-suisse-bp:'Suisse BP';

$z-indexes: ('navigation',
    'content'
);

$font-dir:'../fonts';
